[gui]
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = alexfung888
[user]
	email = 1.alexfung@gmail.com

[gui]
	recentrepo = D:/Android/GitHub/asteroids
	fontui = -family \"微軟正黑體 Light\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	ui = auto
[core]
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -nosession -noPlugin
  longpaths = true
[push]
	default = upstream
[merge]
	conflictstyle = diff3
