[gui]
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = alexfung
[user]
	email = 1.alexfung@gmail.com


[gui]
	recentrepo = D:/Android/GitHub/asteroids
	fontui = -family \"微軟正黑體 Light\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	ui = auto
[core]
#	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -nosession -noPlugin
	autocrlf = true
  longpaths = true
	excludesfile = C:\\Users\\alexfung\\Documents\\gitignore_global.txt
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[http]
#	proxy = http://wch-tmg01.edb.local:8080
#	proxy = http://192.168.20.250:8080
# commands to use
#git config --global http.proxy http://wch-tmg01.edb.local:8080
#git config --global http.proxy http://192.168.20.250:8080
#git config --global --unset http.proxy
